body {
    font-family: 'Oswald';
    color: white;
}

a {
    text-decoration: none;
    outline:none
}

h1 {
    font-size: 6em;
}

.display-table {
    display: table;
    table-layout: fixed;
}

.display-cell {
    vertical-align: middle;
    display: table-cell;
    float: none;
}

.page-title {
    letter-spacing: 0.8vw;
    margin-right: -0.8vw;
}

.padding-top-2 {
    margin-top: 2.5em;
}

.fullscreen {
    height: 100vh;
}

#part1 {
    height: 100%;
    background-color: #3f3f3f;
    background-image: url('gif.gif');
    background-size: cover;
}

#part1 h1 {
    color: #5eff8e;
    font-weight: 700;
    letter-spacing: 4vw;
    margin-right: -4vw;
}


#part2, #part3, #part4, #part5, #part6 {
    background-color:  #2b2b2b;
    height: 100%;
    /*padding-top: 2vw;*/
}

#logo {
    padding-top: 3em;
}

#part2 button {
    color: black;
    font-size: 1.2em;
    letter-spacing: 0.3vw;
    margin-right: -0.3vw;
    width: 100%;
    height: 4.5em;
    background-color: white;
    border: none;
}

#part2 button:hover {
    background-color: #5eff8e;
    
}

#part3 .content {
    padding-top: 4em;
}

#part3 .box{
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    border-style: solid;
    border-color: white;
}

#part3 h3 {
    letter-spacing: normal;
}

#part3 .circle{
    height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 50%;
}

#part6 .content {
    padding-top: 4em;
}

#part6 h3 {
    letter-spacing: normal;
}

#part6c {
    padding-top: 10vh;
}